{{ define "main" }}
<!-- Services -->
{{ range $i, $e:= .Params.services }}
<section class="section-sm">
  <div class="container services">
    <div class="row justify-between wrap">
      <div class="order-2 md:order-1 md:col-7 lg:col-6 textwrap">
        <h4 class="mb-2 font-bold text-primary">
          {{ .title | markdownify }}
        </h4>
        <h2 class="mb-3 text-xl font-semibold sm:text-2xl">
          {{ .incentive | markdownify }}
        </h2>
        <p class="mb-8">
          {{ .content | markdownify}}
        <div>
          {{ with .link }}
          {{ if .enable }}
          <a class="mb-8 text-lg link" href="{{ .link | absURL }}">
            {{ .label }}
          </a>
          {{ end }}
          {{ end }}
        </div>
        </p>
      </div>

      <div class="order-1 mb:md-0 md:order-2 md:col-5 mb-6 imgwrap">
        {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Services -->

<!-- Characteristics -->
<section class="section-sm">
  <div class="container characteristics">
    <div class="row justify-evenly gy-4">
      {{ range $i, $e:= .Params.characteristics }}
      <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3">
        <div class="h-full rounded-2xl px-1 py-1 text-center">
          {{ partial "image" (dict "Src" .icon "Alt" "icon") }}
          <h2 class="mb-4 text-xl font-semibold sm:text-2xl">
            {{ .title | markdownify }}
          </h2>
          <p>
            {{ .text | markdownify }}
          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /Characteristics -->

<!-- Countries -->
<section class="section-sm">
  <div class="container countries">
    <div class="row justify-evenly gy-4">
      {{ range $i, $e:= .Params.countries }}
      <div class="col-12">
        <div class="h-full rounded-2xl px-1 py-1 text-center">
          <h2 class="mb-4 text-xl font-semibold sm:text-2xl">
            {{ .title | markdownify }}
          </h2>
          <p>
            {{ .text | markdownify }}
          </p>
          <div class="container flags">
            <div class="row justify-center">
              {{ range $i, $e:= .flags }}
              {{ $flagpath := printf ".svg" | printf "%s%s" .flag | printf "%s%s" "/images/flags/" | printf "%s" }}
              <div class="col-2 flag">
                <div class="px-1 text-center country">
                  {{ partial "image" (dict "Src" $flagpath "Alt" "icon") }}
                  <div class="country-name">
                    <p>
                      {{ .country | markdownify }}
                    </p>
                  </div>
                </div>
                <div class="px-1 text-center comment">
                  <div>
                    <p class="country-comment">
                      {{ .comment | markdownify }}
                    </p>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
          <div class="footnote">
            {{ .footnote | markdownify }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /Countries -->

{{ end }}