{{ define "main" }}
  <!-- Features -->
  {{ range $i, $e:= .Params.services }}
    <section class="section-sm bg-non-gradient">
      <div class="container">
        <div class="row items-center justify-between">
          <div
            class="mb:md-0 {{ if (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
            {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
          </div>
          <div
            class="{{ if (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
            <h3 class="font-thin mb-4">
              {{ .title | markdownify }}
            </h3>
            <h2 class="mb-4">
              {{ .incentive | markdownify }}
            </h2>
            <p class="mb-8 text-lg">
              {{ .content | markdownify }}
              <div>
                {{ with .link }}
                  {{ if .enable }}
                    <a class="mb-8 text-lg link" href="{{ .link | absURL }}">
                    {{ .label }}
                    </a>
                  {{ end }}
                {{ end }}
              </div>
            </p>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->
{{ end }}