// .btn {
//   border-radius: 1.6rem 0px;
//   padding: 1.2rem 2.4rem;
//   background-size: 202% 100%;
//   background-image: linear-gradient(to right, rgb(255, 151, 110) 50%, rgb(0, 95, 156) 50%, rgb(169, 183, 215) 100%);
//   transition: background-position 200ms;
//   border-color: rgb(255, 151, 110);
// }

// .btn:hover {
//   background-position: -99% 0;
//   border-image: linear-gradient(to right, rgb(0, 95, 156) 0%, rgb(169, 183, 215) 100%);
// }

.btn {
  padding: 1.2rem 2.4rem;
  width: 100%;
}

.btn:hover {
  box-shadow: 0px 0px 3px 0px #ff976e;
}

.header {
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgb(235, 50, 50) 0%,
    rgb(255, 151, 110) 25.52%,
    rgb(231, 176, 0) 51.04%,
    rgb(111, 172, 157) 76.56%,
    rgb(0, 95, 156) 100%
  );
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background-color: rgba(255, 255, 255, 0.98);
  padding-top: 0px;
  padding-bottom: 0px;
}

html:not([data-scroll="0"]) .header {
  box-shadow: 0px 5px 5px #00000039;
}

.logo-light {
  height: 32px;
}

[type="text"],
input:where(:not([type])),
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  border-width: 0px;
  font-weight: 300;
}

.lg\:col-7 {
  width: 100% !important;
}

.link,
.accordion-content p > a,
.contact a {
  color: rgb(0, 95, 156);
  text-decoration: underline;
}

.bg-non-gradient {
  background-color: #fff;
  box-shadow: 0px 0px 14px -3px #f3f3f3;
}

.mb-8 {
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .lg\:\!max-w-\[max\] {
    max-width: 100% !important;
  }
}

.title-font {
  font-size: 4rem;
  font-weight: 400;
}

.subtitle-font {
  font-size: 2rem;
}

.mainbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-toggle {
  font-weight: 800;
  border-bottom: 1.5px solid;
}

.logo-main-toggle > div {
  padding-top: 10px;
  padding-bottom: 5px;
}

.logo-main-toggle a.nav-link {
  padding-bottom: 0px;
  padding-top: 5px;
}

.logo-main-toggle li.nav-item {
  margin-left: 0px !important;
}

.active {
  font-weight: 700;
  color: rgb(255, 151, 110);
}

.logo-main-toggle #nav-menu {
  font-size: 0.8rem;
}

.small-dropdown {
  min-width: auto;
  position: absolute;
}

.pb-6 {
  padding-bottom: 0;
}

.logo-main-toggle #nav-menu {
  display: flex;
}

.logo-main-toggle .nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-brand .img {
  margin: auto;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1024px;
  }
}

.wrap {
  display: flex;
}

.imgwrap {
  position: relative;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .imgwrap {
    margin-bottom: 1.5rem;
  }
}

.imgwrap img {
  position: relative;
  border-radius: 32px 0px;
  height: 180px;
  object-fit: cover;
  z-index: -5;
  right: 0%;
  top: 10%;
  object-position: 0 5%;
}

@media (min-width: 768px) {
  .imgwrap img {
    height: 100%;
    width: 110%;
    max-height: 80%;
    max-width: 110%;
    transform: scale(1.4);
    right: 26%;
    top: 32%;
    object-position: 50%;
  }
}

@media (min-width: 1024px) {
  .imgwrap img {
    right: 23%;
    width: 106%;
    max-width: 106%;
    object-position: 0%;
    top: 35%;
    right: 23%;
  }
}

.textwrap {
  border-radius: 32px 0px;
  background-color: rgba(255, 255, 255, 0.98);
  height: 100%;
}

@media (min-width: 768px) {
  .textwrap {
    padding: 1.5rem 2rem 0.5rem 2rem;
    box-shadow: 3px 3px 8px #0000001a;
  }
}

@media (min-width: 1024px) {
  .lg\:col-6.textwrap {
    width: 56%;
  }
}

.characteristics img {
  width: 64px;
  margin: 0 auto 1rem auto;
}

.characteristics {
  margin-top: -2rem;
}

@media (min-width: 768px) {
  .characteristics {
    margin-top: 2rem !important;
  }
}

.lg\:space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

@media (min-width: 1280px) {
  .section-sm {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.flag {
  width: 130px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flag img {
  // max-width: 50px;
  // max-height: 33.33px;
  max-height: 25px;
  margin: 1rem auto 1rem auto;
}

.countries > .row {
  border-radius: 32px 0px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #0000001a;
}

.flags {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footnote {
  color: #ccc;
  font-size: 0.7rem;
  padding-bottom: 2rem;
}

.flags a:hover {
  color: rgb(255, 151, 110);
}

.flags a {
  text-decoration: underline;
}

.country,
.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.country {
  justify-content: flex-start;
  height: 100%;
}

.comment {
  justify-content: space-between;
}

.country-comment {
  font-size: 0.7rem;
  font-style: italic;
}

.img-wrapper {
  color: black;
}

@media (min-width: 1024px) {
  .lg\:columns-2 {
    columns: 2;
    column-gap: 2.5rem;
  }
}

.testimonials .box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usecases .box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .testimonials .box-logo {
    width: 250px;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .sm\:transform {
    transform: rotate(-90deg);
  }
}
@media (min-width: 540px) {
  .usecases .box-logo {
    width: 60px;
  }
}

.rounded-tl {
  /* purgecss ignore current */
  border-top-left-radius: 32px;
}

.rounded-br {
  /* purgecss ignore current */
  border-bottom-right-radius: 32px;
}

@media (min-width: 540px) {
  .testimonials .testimonial {
    background-color: #fff !important;
    box-shadow: 0px 0px 10px #0000001a;
  }
}

.testimonials .testimonial {
  background-color: #fdfdfd;
}

.testimonials .testimonial:target {
  border: solid 2px rgb(255, 151, 110);
  animation: blink 1.5s;
  animation-iteration-count: 2;
}

@keyframes blink { 50% { border-color:#fff ; }  }

.testimonials .testimonial > div > div:first-child {
  background-color: #00000005;
}

.testimonials > div > div > :first-child {
  border-left: solid 2px rgb(255, 151, 110);
}

@media (max-width: 1023px) {
  .testimonial:nth-child(n+3):not(:last-child),
  .testimonial:nth-child(n+3):not(:last-child) > div > div:first-child {
    border-radius: 0 !important;
  }
}

@media (max-width: 539px) {
  .testimonials .box-logo {
    min-height: 75px;
  }
}

.usecases {
  padding-bottom: 0;
}

.usecase-container {
  margin-bottom: 4rem;
}

.quote {
  &:before {
    content: '';
    padding-left: 1em;
    margin-right: 0.5rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.06 55.27"><defs><style> .cls-1 { opacity: .25; } .cls-2 { fill: %23f7956f; stroke-width: 0px; } </style></defs><g id="Layer_1-2" data-name="Layer 1"><g class="cls-1"><path class="cls-2" d="M0 55.27v-18.7c0-6.89 1.26-13.17 3.77-18.86C6.29 12.03 10.55 6.12 16.56 0l11.15 8.69c-5.9 5.9-9.57 11.48-10.99 16.73h13.61v29.85H0ZM37.72 55.27v-18.7c0-6.89 1.26-13.17 3.77-18.86 2.51-5.68 6.78-11.59 12.79-17.71l11.15 8.69c-5.9 5.9-9.57 11.48-10.99 16.73h13.61v29.85h-30.34Z"/></g></g></svg>');
    background-repeat: no-repeat;
  }
  &:after {
    content: '';
    padding-left: 1em;
    margin-left: 0.5rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.06 55.43"><defs><style> .cls-1 { opacity: .25; } .cls-2 { fill: %23f7956f; stroke-width: 0px; } </style></defs><g id="Layer_1-2" data-name="Layer 1"><g class="cls-1"><path class="cls-2" d="M13.78 55.43l-10.99-8.86c5.9-5.9 9.57-11.48 10.99-16.73H0V0h30.34v18.86c0 6.89-1.23 13.18-3.69 18.86-2.46 5.69-6.75 11.59-12.87 17.71ZM51.5 55.43l-10.99-8.86c5.9-5.9 9.57-11.48 10.99-16.73h-13.78V0h30.34v18.86c0 6.89-1.23 13.18-3.69 18.86-2.46 5.69-6.75 11.59-12.87 17.71Z"/></g></g></svg>');
    background-repeat: no-repeat;
  }
}

.form-input {
  background-color: #fff;
  border: 2px solid rgb(245, 245, 245);
  margin-bottom: 1rem;
}

.separator {
  border-top: solid 2px rgb(255, 151, 110);
}

@media (min-width: 1024px) {
  .lg\:rounded-br-4xl {
    border-bottom-right-radius: 32px;
  }
}

.form {
  grid-row: 1 / 3;
  background-color: #fff !important;
  box-shadow: 0px 0px 10px #0000001a;
  margin: auto;
  width: 88%;
  height: 100%
}

.form select {
  text-overflow: ellipsis;
}

.form textarea {
  height: 6rem;
}

//  .form [required]:invalid {
//   border: solid 2px rgba(255, 151, 110, 0.25);
//  }

 .form-input:focus {
  border: solid 2px rgb(255, 151, 110) !important;
 }

@media (min-width: 768px) {
  .form {
   width: 92%;
  }
}

@media (min-width: 1024px) {
  .form {
  width: 100%;
  }
}

.contact img {
  max-height: 150px;
  object-fit: cover;
  margin-top: 1rem;
  object-position: 50% 50%;
}
