.btn {
  border-radius: 1.6rem 0px;
  padding: 1.2rem 2.4rem;
  background-size: 202% 100%;
  background-image: linear-gradient(to right ,rgb(255, 151, 110) 50%,rgb(0, 95, 156) 50%, rgb(169, 183, 215) 100%);
  transition: background-position 200ms;
  border-color: rgb(255, 151, 110)
}

.btn:hover {
  background-position: -99% 0;
  border-image: linear-gradient(to right, rgb(0, 95, 156) 0%, rgb(169, 183, 215) 100%);
}

.header {
  border: 8px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgb(235, 50, 50) 0%, rgb(255, 151, 110) 25.52%, rgb(231, 176, 0) 51.04%, rgb(111, 172, 157) 76.56%, rgb(0, 95, 156) 100%);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  box-shadow: 0px 5px 5px #00000003;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo-light {
  height: 32px;
}

[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  border-width: 0px;
  font-weight: 300;
}

.lg\:col-7 {
  width: 100% !important;
}

.link,
.accordion-content p>a {
  color: rgb(0, 95, 156);
  text-decoration: underline;
}

.bg-non-gradient {
  background-color: #fff;
  box-shadow: 0px 0px 14px -3px #f3f3f3;
}

.mb-8 {
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {

  .lg\:\!max-w-\[max\] {
    max-width: 100% !important;
  }
}

.title-font {
  font-size: 4rem;
  font-weight: 400;
}

.subtitle-font {
  font-size: 2rem;
}

.mainbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-weight: 300;
}

.nav-dropdown-link {
  font-weight: 300;
}

.main-toggle {
  font-weight: 800;
  border-bottom: 1.5px solid;
}

.logo-main-toggle > div {
  padding-top: 10px;
  padding-bottom: 5px;
}

.logo-main-toggle a.nav-link {
  padding-bottom: 0px;
  padding-top: 5px;
}

.logo-main-toggle li.nav-item {
  margin-left: 0px !important;
}

.active {
  font-weight: 800;
}

.logo-main-toggle #nav-menu {
  font-size: 0.8rem;
}

.small-dropdown {
  min-width: auto;
  position: absolute;
}

.pb-6 {
  padding-bottom: 0;
}

.logo-main-toggle #nav-menu {
    display: flex;
}

.logo-main-toggle .nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-brand .img {
  margin: auto;
}

@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {

  .container {
    // max-width: 1280px;
    max-width: 1024px;
  }
}

// @media (min-width: 1536px) {

//   .container {
//     max-width: 1536px;
//   }
// }

@media (min-width: 1536px) {

  .container {
    // max-width: 1320px;
    max-width: 1024px;
  }
}