<!-- Language List -->
{{ $class := .Class }}
{{ $context := .Context }}
{{ $pageLang := $context.Lang }}
{{ $base:= urls.Parse site.Home.Permalink }}
{{ $siteLanguages := site.Home.AllTranslations }}
{{ $pageLink := replace (replace $context.RelPermalink (add $pageLang "/") "") $base.Path "/" }}

{{/*  {{ if $context.IsTranslated }}
  <ul id="language-switcher" class="{{ $class }}">
    <li class="nav-item nav-dropdown group relative">
      <span
        class="nav-link inline-flex items-center">
        <a class="nav-link uppercase">{{ $pageLang }}</a>
        <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
        </svg>
      </span>
      <ul class="nav-dropdown-list lg:group-hover:visible lg:group-hover:opacity-100">
        {{ range $siteLanguages }}
          <li class="nav-dropdown-item">
            <a class="nav-dropdown-link" href="{{ replace (add .RelPermalink $pageLink) `//` `/` }}"> {{ .Language.LanguageName }} </a>
          </li>
        {{ end }}
      </ul>
    </li>
  </ul>
{{ end }}  */}}

{{ if $context.IsTranslated }}
  <select class="{{ $class }}" onchange="location = this.value">
    {{ range $siteLanguages }}
      {{ if eq (string $pageLang) (string .Language) }}
        <option
          id="{{ .Language }}"
          value="{{ replace (add .RelPermalink $pageLink) `//` `/` }}"
          selected>
          {{ .Language.LanguageName }}
        </option>
      {{ else }}
        <option
          id="{{ .Language }}"
          value="{{ replace (add .RelPermalink $pageLink) `//` `/` }}">
          {{ .Language.LanguageName }}
        </option>
      {{ end }}
    {{ end }}
  </select>
{{ end }}