{{ define "main" }}

<!-- Testimonials -->
<section id="testimonials" class="section relative z-20 overflow-hidden testimonials">
  <div class="container relative">
    <div class="lg:columns-2">

      {{ range $i, $e:= .Params.testimonials }}

      <div class="mb-16">
        <div class="py-2 pl-6">
          <h2 class="text-xl font-semibold font-primary sm:text-2xl">
            {{ .intropart1 | markdownify }}
          </h2>
          <p>
            {{ .intropart2 | markdownify }}
          </p>
        </div>
      </div>

      {{ range $i, $e:= .testimonials }}

      {{ $baseimgpath := "/images/testimonials/" }}
      {{ $companylogopath := printf "%s" .companylogo | printf "%s%s" $baseimgpath | printf "%s" }}
      {{ $customerimgpath := printf "%s" .customerimg | printf "%s%s" $baseimgpath | printf "%s" }}

      <div class="mb-10 testimonial">
        <div class="mb-6 flex flex-col overflow-hidden last-of-type:mb-0 sm:flex-row sm:border-0">
          <div class="box-bg">
            {{ partial "image" (dict "Src" $companylogopath "Class" "!max-w-[140px] sm:min-w-[40px] sm:-rotate-90 sm:transform img" "Alt" "logo") }}
          </div>
          <div class="px-6 py-12">
            <h3 class="mb-3 text-xl font-semibold font-primary sm:text-2xl">
              {{ .title | markdownify }}
            </h3>
            <p class="mb-6">
              {{ .text | markdownify }}
            </p>
            <div class="flex items-center gap-4">
              {{ partial "image" (dict "Src" $customerimgpath "Class" "rounded-full h-[70px] w-[70px] object-cover img" "Alt" "logo") }}
              <div class="items-start rounded-full">
                <div class="flex flex-col justify-center">
                  <h4 class="text-xl font-semibold font-primary sm:text-2xl">
                    {{ .name | markdownify }}
                  </h4>
                  <p>
                    {{ .role | markdownify }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{ end }}
      {{ end }}

    </div>
  </div>
</section>

<script>
  var testimonials = document.getElementById('testimonials');
  var testimonial = testimonials.getElementsByClassName('testimonial');
  var testimonialLength = Math.floor(testimonial.length / 2);
  var box1 = testimonial[0].getElementsByTagName('div');
  var box2 = testimonial[testimonialLength].getElementsByTagName('div');

  testimonial[0].classList.add('stack-rounded-tl');
  box1[0].getElementsByTagName('div')[0].classList.add('stack-rounded-tl');
  testimonial[testimonialLength].classList.add('stack-rounded-tl');
  box2[0].getElementsByTagName('div')[0].classList.add('stack-rounded-tl');

  testimonial[testimonialLength - 1].classList.add('stack-rounded-br');
  testimonial[testimonial.length -1].classList.add('stack-rounded-br');
</script>

<!-- /Testimonials -->

{{ end }}